@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background: #F0F9FF; /* brand-500 */
  position: relative;
  z-index: 0;
}
